<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <title>{{title}}</title>
    </head>

    <body class="text-center">
        <form method="post" action="">
        {% for q in question%}
        <div class="container">
            <br>
            <h6 class="h3 mb-3 font-weight-normal">Question :</h6>
            <br>
            <h3 class="h3 mb-3 font-weight-normal">{{q}}</h3>
            <br>
            <textarea name="{{q}}" rows="5" cols="100" title="Answer"></textarea><!--name=id -->
            <br>
        </div>
        {% endfor %}
        <input type="submit" value="Submit" class="btn btn-primary">
        
        </form>
    </body>
</html>