<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/style.css')}}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <title></title>
  </head>
  <body>
    <header class="site-header clearfix">
 <nav>
  <div class="logo">
    <a href="{{url_for('home')}}"><img src="{{url_for('static',filename='images/ll.jpg')}}" alt="AI ANSWER VERIFIER"></a>
  </div>
  <div class="menu">
   <ul>
    <li><a href="{{url_for('home')}}" style="color:gold">Home</a></li>
    <li><a href="{{url_for('login')}}" style="color:gold">Login</a></li>
    <li><a href="{{url_for('register')}}" style="color:gold">Registeration</a></li>
    <li><a href="" style="color:gold">About Us</a></li>
   </ul>
  </div>
 </nav>
 <section>
  <div class="leftside">
   <img src="{{url_for('static',filename='images/j.png')}}">
  </div>
  <div class="rightside">
   <h1>Welcome to</h1>
    <h1> AI ANSWER VERIFIER </h1>
   <p> The Artificial Intelligence based Answer Verifier is an application that is designed to automatically evaluates answers of the given questions and finally grade the examinee. This system reduces the workload by automating the mannual chacking process and this system also provides an unbiased result. In order to solve, the AI Answer Verifier (based on using different AI concepts that works great together) analyses like a grading teacher thinks while reviewing subjective as well as objective questions. The online examination is now no longer a future thing. Nowadays, digitalization is only a big aspect to every country. As in 2020, Almost all the activities in the world due to Covid-19 pandemic, This system can helps the authorities to smoothly conduct examinations even during Lockdown. </p>
 </div>
   

</section>

</header>


  </body>
</html>
