<html>
<head>
  <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <title>Sign IN</title>
</head>

<body>
    <nav>
        <div class="logo">
          <a href="home.html"><img src="images/ll.jpg" alt="AI ANSWER VERIFIER"></a>
        </div>
        <div class="menu">
         <ul>
          <li><a href="home.html" style="color:gold">Home</a></li>
          <li><a href="login.html" style="color:gold">Login</a></li>
          <li><a href="register.html" style="color:gold">Registeration</a></li>
          <li><a href="" style="color:gold">About Us</a></li>
         </ul>
        </div>
      </nav>
      <center>
      <h1>Welcome to</h1>
    <h1> AI ANSWER VERIFIER </h1>
  </center>
      <center>
<form method='post' action="">
    Email:<input type="text" name="e">
    Password:<input type="password" name="p">
    <input type="submit" value="Log In">
</form>
</center>

<body>

</html>
