<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/style3.css')}}">
        <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
        <title>{{title}}</title>
    </head>

    <body>
      <header class="admin-header clearfix">
        <nav>
  <div class="logo">
    <a href="{{url_for('home')}}"><img src="{{url_for('static',filename='images/ll.jpg')}}" alt="AI ANSWER VERIFIER"></a>
  </div>
  <div class="logout">
   <ul>
    <li><a href="{{url_for('exam')}}" style="color:gold">Questions</a></li>
    <li><a href="{{url_for('home')}}" style="color:gold">Logout</a></li>
   </ul>
  </div>
 </nav>
     <section>
       <div class="admin-center">
         <h2> Question/Answer Modify Page </h2>
        <div class="container">
            <br>
            <h6 class="h3 mb-3 font-weight-normal" style=" text-align: center;">Question :</h6>
            <h3 class="h3 mb-3 font-weight-normal" style="color:black; font-weight: bold; text-align: center;">{{question}}</h3>
            <br>
            <textarea name="{{q}}" rows="15" cols="100" title="Answer" placeholder="Enter Answer here..." style= "background-image: url("../images/12.jpg"); background-repeat: repeat; " required>{{answer}}</textarea>
            <br>
            <textarea name="{{q}}" rows="10" cols="100" title="Keywords" placeholder="Enter Keywords here.." style = "background-image: url("../images/12.jpg"); background-repeat: repeat;" required>{{keywords}}</textarea>
        </div>
        <div>
            <br><a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('module_update', module_id=key) }}">Update</a>
            <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal">Delete</button>
         </div>
         <!-- Modal -->
          <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true" data-backdrop="false">
          <div class="modal-dialog" role="document">
          <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="deleteModalLabel">Delete Post?</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <form action="{{ url_for('delete_module',module_id=key) }}" method="POST">
            <input class="btn btn-danger" type="submit" value="Delete">
          </form>
          </div>
          </div>
          </div>
          </div>
          </div>
          </section>
          </header>
    </body>
</html>
