<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/style.css')}}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <title>Sign up</title>
</head>

<body>
    <nav>
       
        <div class="menu">
         <ul>
          <li><a href="{{url_for('home')}}" style="color:gold">Home</a></li>
          <li><a href="register.html" style="color:gold">Registeration</a></li>
         </ul>
        </div>
      </nav>
      <center>
        <div class="logo">
            <a href="{{url_for('home')}}"><img src="{{url_for('static',filename='images/ll.jpg')}}" alt="AI ANSWER VERIFIER"></a>
          </div>
          <h1>
              Create a free account on the AI ANSWER VERIFIER
              Come join this great learning community. Already have an account Log in <a href="{{url_for('login')}}" style="color:gold">Login</a>
          Please enter the details below.
            </h1>
      </center>
<center>
<form method='post' action="">
    Email:<input type="text" name="e">
    Password:<input type="password" name="p">
    <input type="submit" value="sign up">
</form>
</center>
<body>

</html>
