*{
    font-family: 'Montserrat', sans-serif;
}

html,body {
    background-image: url("../images/sol.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center ;
   }

.result-header {
    width: 100%;
    height: 100vh;
    background-image: url("../images/d.jpg");
}


nav{
    width: 100%; height: 100px;
    display: flex;
    background-color: black;

}

.logo{
    width: 50%;
    height: 100px;
}

.logo img{
    width: 750px;
    height: 200px;
}

.menu{
    width: 60%; height: 100px;

}

.menu ul{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:  center;
}

.menu ul li{
    list-style: none;
    font-size: 20px;
    text-transform: uppercase;
    padding-top: 40px;
    padding-right: 20px;
    font-weight: 600;
    text-decoration: none;
    background: black;
    border-radius: 4px 4px 4px 4px;
    padding: 20px 35px ;
}

.menu ul li:hover{
      background: linear-gradient(57deg, #1E4D92, #00C6A7 );
    }
.h1{ text-align: center;
    text-decoration: underline;
    font-size: 50px;
    color: gold;
    font-weight: 900;
    text-transform: uppercase;
    font-family: "Times New Roman", Times, serif;
    font-style: italic;}

section{ display: flex;  }

.leftside { width:20% ; height: 200px;}
.leftside img{ padding-top: 90px; padding-right: 170%; height: 300%; width: 1300px;}

.rightside{  width: 80%; height: 300px; color: white; text-align: center; margin-top: 50px; padding: 40px;}


table {
    
    border-collapse: collapse;
    width: 100;
}
  td, th {
    border: 1px solid #0000b3;
    text-align: left;
    padding: 8px;
    color:white;
  }
tr :hover { background-color: pink; }

  tr:nth-child(even) {
    background-color: #00001a;
  }
label{
    color:white;
    font-size: large;
}
